.menu {
    background-color: white;
    height: 100%;
    width: 55%;
    border-radius: 10px 0px 0px 10px;
    padding: 40px 0px 10px 15px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#mySelect {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 150px;
    margin-top: 20px;
    border: none;
    
}

#mySelect div{
    margin-bottom: 3px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
}

